@model AdminControl.Models.AdModel
@inject BloggingContext bloggingContext

@{
    ViewData["Title"] = "التفاصيل";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ListCat = bloggingContext.categories.ToList();
    SelectList selectListCat = new SelectList(ListCat, "Id", "Name" );

    var ListType = bloggingContext.AdTypes.ToList();
    SelectList selectListType = new SelectList(ListType, "Id", "Name");

    var ListArea = bloggingContext.Areas.ToList();
    SelectList selectListArea = new SelectList(ListArea, "Id", "Name");

    var ListCustomer = bloggingContext.Customers.ToList();
    SelectList selectListCustomer = new SelectList(ListCustomer, "Id", "username");
    
    var ListStatuses = bloggingContext.adStatuses.ToList();
    SelectList selectListStatuses = new SelectList(ListStatuses, "Id", "Status");
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<style>
    .card {
        background: #fff;
        transition: .5s;
        border: 0;
        margin-bottom: 30px;
        border-radius: .55rem;
        position: relative;
        width: 100%;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    }

        .card .body {
            color: #444;
            padding: 20px;
            font-weight: 400;
        }

        .card .header {
            color: #444;
            padding: 20px;
            position: relative;
            box-shadow: none;
        }

    .single_post {
        -webkit-transition: all .4s ease;
        transition: all .4s ease
    }

        .single_post .body {
            padding: 30px
        }

        .single_post .img-post {
            position: relative;
            overflow: hidden;
            max-height: 500px;
            margin-bottom: 30px;
            width:100%
        }
        .forp{
        margin-right: 10px;
        width: 100%;
        }
        .forels{
            display:flex;
        }

            .single_post .img-post > img {
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                opacity: 1;
                -webkit-transition: -webkit-transform .4s ease, opacity .4s ease;
                transition: transform .4s ease, opacity .4s ease;
                max-width: 100%;
                filter: none;
                -webkit-filter: grayscale(0);
                -webkit-transform: scale(1.01)
            }

            .single_post .img-post:hover img {
                -webkit-transform: scale(1.02);
                -ms-transform: scale(1.02);
                transform: scale(1.02);
                opacity: .7;
                filter: gray;
                -webkit-filter: grayscale(1);
                -webkit-transition: all .8s ease-in-out
            }

            .single_post .img-post:hover .social_share {
                display: block
            }

        .single_post .footer {
            padding: 0 30px 30px 30px
        }

            .single_post .footer .actions {
                display: inline-block
            }

            .single_post .footer .stats {
                cursor: default;
                list-style: none;
                padding: 0;
                display: inline-block;
                float: right;
                margin: 0;
                line-height: 35px
            }

                .single_post .footer .stats li {
                    border-left: solid 1px rgba(160, 160, 160, 0.3);
                    display: inline-block;
                    font-weight: 400;
                    letter-spacing: 0.25em;
                    line-height: 1;
                    margin: 0 0 0 2em;
                    padding: 0 0 0 2em;
                    text-transform: uppercase;
                    font-size: 13px
                }

                    .single_post .footer .stats li a {
                        color: #777
                    }

                    .single_post .footer .stats li:first-child {
                        border-left: 0;
                        margin-left: 0;
                        padding-left: 0
                    }

        .single_post h3 {
            font-size: 20px;
            text-transform: uppercase
        }

            .single_post h3 a {
                color: #242424;
                text-decoration: none
            }

        .single_post p {
            font-size: 16px;
            line-height: 26px;
            font-weight: 300;
            margin: 0
        }

    .cocoe li{
        position:relative;
    }

    .single_post .blockquote p {
            margin-top: 0 !important
        }

        .single_post .meta {
            list-style: none;
            padding: 0;
            margin: 0
        }

            .single_post .meta li {
                display: inline-block;
                margin-right: 15px
            }

                .single_post .meta li a {
                    font-style: italic;
                    color: #959595;
                    text-decoration: none;
                    font-size: 12px
                }

                    .single_post .meta li a i {
                        margin-right: 6px;
                        font-size: 12px
                    }

    .single_post2 {
        overflow: hidden
    }

        .single_post2 .content {
            margin-top: 15px;
            margin-bottom: 15px;
            padding-left: 80px;
            position: relative
        }

            .single_post2 .content .actions_sidebar {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 60px
            }

    .list-unstyled {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

    .single_post2 .content .actions_sidebar a {
        display: inline-block;
        width: 100%;
        height: 60px;
        line-height: 60px;
        margin-right: 0;
        text-align: center;
        border-right: 1px solid #e4eaec
    }

    .single_post2 .content .title {
        font-weight: 100
    }

    .single_post2 .content .text {
        font-size: 15px
    }

    .right-box .categories-clouds li {
        display: inline-block;
        margin-bottom: 5px
    }

        .right-box .categories-clouds li a {
            display: block;
            border: 1px solid;
            padding: 6px 10px;
            border-radius: 3px
        }

    .right-box .instagram-plugin {
        overflow: hidden
    }

        .right-box .instagram-plugin li {
            float: left;
            overflow: hidden;
            border: 1px solid #fff;
            margin-right: 15px;
        }

    .comment-reply li {
        margin-bottom: 15px
    }

        .comment-reply li:last-child {
            margin-bottom: none
        }

    i {
        font-size: 20px;
        margin-left: 5px;
    }

    .comment-reply li h5 {
        font-size: 18px
    }

    .comment-reply li p {
        margin-bottom: 0px;
        font-size: 15px;
        color: #777
    }

    .comment-reply .list-inline li {
        display: inline-block;
        margin: 0;
        padding-right: 20px
    }

        .comment-reply .list-inline li a {
            font-size: 13px
        }

    .coco {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        background: #01297021;
        color: black
    }

    @@media (max-width: 640px) {
        .blog-page .left-box .single-comment-box > ul > li {
            padding: 25px 0
        }

        .blog-page .left-box .single-comment-box ul li .icon-box {
            display: inline-block
        }

        .blog-page .left-box .single-comment-box ul li .text-box {
            display: block;
            padding-left: 0;
            margin-top: 10px
        }

        .blog-page .single_post .footer .stats {
            float: none;
            margin-top: 10px
        }

        .blog-page .single_post .body,
        .blog-page .single_post .footer {
            padding: 30px
        }
    }

    .bi-telephone-fill::before {
        padding-bottom: 10px;
    }
    .bi-whatsapp::before {
        padding-bottom: 10px;
    }

    .btncloseViedio{
        z-index:1 !important;
    }
    .btnclose, .btncloseViedio {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #00000014;
        border-radius: 50px;
        padding: 10px;
        cursor: pointer;
        left: 0px;
        top: 0px;
    }

    .ri-close-circle-line{
        font-size: 24px;
        margin-left: 0 !important;
        color: #012970;
    }

    
</style>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="main-content" class="blog-page">
    <div class="container">
        <form asp-action="EditModel">
        <div class="row clearfix">
            <div class="col-lg-12 left-box">
                <div class="card single_post">
                    <div class="body forels">

                        <div class="img-post">
                            @if (!string.IsNullOrEmpty(Model.NameVideo))
                            {
                                   <div class="btncloseViedio" data-id="@Model.Id"><i class="ri-close-circle-line"></i></div>
                                   <video id="videoPlayer" controls style="max-width: 100%; max-height: 100%;">
                                       @* <source id="videoSource" src="~/upload/user_@Model.CustomerId/@Model.Token/videos/@Model.NameVideo" type="video/mp4"> *@
                                         <source id="videoSource" src="https://myserverhost-001-site1.itempurl.com/upload/user_@Model.CustomerId/@Model.Token/videos/@Model.NameVideo" type="video/mp4">
                                </video>
                                    <div class="coco" style="display:none">
                                        <span>لايوجد فيديو</span>
                                    </div>
                            }
                            else
                            {
                                    <div style="display:none" class="btncloseViedio" data-id="@Model.Id"><i class="ri-close-circle-line"></i></div>
                                    <video id="videoPlayer" controls style="max-width: 100%; max-height: 100%;display:none">
                                        <source id="videoSource"  type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <div class="coco" >
                                        <span>لايوجد فيديو</span>
                                    </div>
                              
                            }
                                <div class="text-center">
                                    <label>اضافة فيديو</label>
                                    <a style="cursor:pointer" class="popup-link" onclick="document.getElementById('uploadImageInput_glob').click()">
                                        <i class="ri-chat-upload-line" style="font-size:40px"></i>
                                    </a>
                                    <input type="file" id="uploadImageInput_glob" style="display: none;" onchange="updateVideo(this)">
                                </div>
                        </div>

                            <div class="forp">
                                <h3><input class="form-control" placeholder="ادخل عنوان الاعلان" asp-for="Id" /></h3>
                        <h3><input class="form-control" placeholder="ادخل عنوان الاعلان" asp-for="Title" /></h3>
                        <p><textarea class="form-control" rows="4" placeholder="ادخل الوصف" asp-for="Description"></textarea></p>
                      </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 right-box">
                    <div class="card">
                        <div class="header">
                            <h2>حول الطلب</h2>
                        </div>
                        <div class="body widget">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">الفئة</th>
                                        <th scope="col">النوع</th>
                                        <th scope="col"> السعر</th>
                                        <th scope="col">المنطقة</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><select class="form-control" asp-items="selectListCat" asp-for="CategoryId"></select> </th>
                                        <td><select class="form-control" asp-items="selectListType" asp-for="AdTypeId"></select> </td>
                                        <td><input class="form-control" placeholder="ادخل سعر العنوان" asp-for="Price" /></td>
                                        <td><select class="form-control" asp-items="selectListArea" asp-for="AreaId"></select></td>

                                    </tr>
                                </tbody>
                            </table>
                            <ul class="list-unstyled categories-clouds m-b-0">
                                <li><a href="javascript:void(0);"><i class="bi bi-telephone-fill"></i><input class="form-control" placeholder="ادخل سعر الهاتف" asp-for="MobileNumber" /></a></li>
                                <li style="margin-right:10px"><a href="javascript:void(0);"><i class="bi bi-whatsapp"></i><input class="form-control" placeholder="ادخل سعر الهاتف" asp-for="WhatsAppNumber" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>الصور</h2>
                        </div>
                        <div class="body widget">
                            <ul class="list-unstyled cocoe image-container instagram-plugin m-b-0">
                                @foreach (var attachment in Model.Attachments)
                                {
                                    <li>
                                        <div class="btnclose" data-id="@attachment.Id"><i class="ri-close-circle-line"></i></div>
                                        <a style="cursor:pointer" class="popup-link" onclick="openFileUploader('@attachment.Id')">
                                           @* <img id="imagePreview_@attachment.Id" src="~/upload/user_@Model.CustomerId/@Model.Token/images/@attachment.nameimage" width="140px" height="140px" alt="image description"> *@
                                                <img id="imagePreview_@attachment.Id" src="https://myserverhost-001-site1.itempurl.com/upload/user_@Model.CustomerId/@Model.Token/images/@attachment.nameimage" width="140px" height="140px" alt="image description">
                                            </a>
                                            <input type="file" id="uploadImageInput_@attachment.Id" style="display: none;" onchange="uploadImage(this, '@attachment.Id')">
                                    </li>
                                }   
                            </ul>
                                <div class="text-center">
                                <label>اضافة صورة</label>
                                <a style="cursor:pointer" class="popup-link" onclick="document.getElementById('uploadImageInput_global').click()">
                                    <i class="ri-chat-upload-line" style="font-size:40px"></i>
                                </a>
                                <input type="file" id="uploadImageInput_global" style="display: none;" onchange="uploadImaged(this, 'global')">
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>بيانات اخرى</h2>
                    </div>
                    <div class="body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">اسم العيل</th>
                                    <th scope="col">عدد المشاهدات</th>
                                    <th scope="col"> عدد المشاركات على واتساب</th>
                                    <th scope="col"> عدد المكالمات </th>
                                    <th scope="col">المساحة</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"><select class="form-control" class="form-control "  class="form-select" id="prepend-text-single-field" data-placeholder="من فضلك اختر اسم العميل" asp-items="selectListCustomer" asp-for="CustomerId"></select></th>
                                    <td><input class="form-control" placeholder="ادخل عدد المشاهدات" asp-for="numberShow" /></td>
                                    <td><input class="form-control" placeholder="ادخل عدد مشاركات الواتس اب" asp-for="numberOfWhatsApp" /></td>
                                    <td><input class="form-control" placeholder="ادخل عدد المكالمات" asp-for="numberOfCall" /></td>
                                    <td><input class="form-control" placeholder="ادخل المساحة" asp-for="Space" /></td>
                                </tr>
                                <tr>
                                    <th scope="col">عدد الغرف</th>
                                    <th scope="col">عدد الحمامات</th>
                                    <th scope="col">حالة الاعلان</th>
                                    <th scope="col">تاريخ الاضافة</th>
                                    <th scope="col">تاريخ النشر</th>
                                </tr>
                                <tr>
                                    <td><input class="form-control" placeholder="ادخل عدد الغرف" asp-for="NumberOfRooms" /></td>
                                    <td><input class="form-control" placeholder="ادخل عدد الحمامات" asp-for="NumberOfBathrooms" /></td>
                                    <td><select class="form-control" asp-items="selectListStatuses" asp-for="AdStatusId"></select></td>
                                    <td><input type="date" class="form-control" asp-for="AddedDate" /> </td>
                                    <td><input type="date" class="form-control" asp-for="PublishDate" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button type="submit"  class="btn btn-success">تعديل</button>
            <a asp-action="Index" class="btn btn-warning">الرجوع للقائمة</a>
        </div>
        </form>


    </div>
</div>
<div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>

<script>
    $('#prepend-text-single-field').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });

    $('#prepend-text-multiple-field').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
        closeOnSelect: false,
    });

    $('#prepend-text-single-field').on('change', function () {
        var selectedCountryCode = " " + $(this).val();
        $('#telphone').val(selectedCountryCode);
    });
</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function openFileUploader(attachmentId) {
        $('#uploadImageInput_' + attachmentId).click();
    }

    function uploadImage(inputElement, attachmentId) {
        var file = inputElement.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var imageElement = $('#imagePreview_' + attachmentId);
                if (imageElement.length > 0) {
                    imageElement.attr('src', e.target.result);
                } else {
                }
            };
            reader.readAsDataURL(file);
        } else {
        }

        var formData = new FormData();
        var fileInput = document.getElementById('uploadImageInput_' + attachmentId);
        var file = fileInput.files[0];
        var attachmentId = @Model.Id;
        formData.append('file', file);
        formData.append('attachmentId', attachmentId);

        $.ajax({
            url: 'https://myserverhost-001-site1.itempurl.com/api/customers/UploadImage',
            type: 'POST',
            headers: { 'attachmentId': attachmentId },
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                Swal.fire({
                    icon: 'success',
                    iconColor: '#3085d6',
                    title: 'تم تعديل الصورة بنجاح',
                    showConfirmButton: true,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'تم',
                });
            },
            error: function () {
                alert("فشل في تحديث الصورة");
            }
        });
    }
</script>
<script>
    function uploadImaged(input, id) {
        if (input && input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                if (id === 'global') {
                    var newId = 'image_' + new Date().getTime();
                    var li = document.createElement('li');
                    document.querySelector('.cocoe').appendChild(li);
                    var attachmentId = @Model.Id;
                    var formData = new FormData();

                    formData.append('file', input.files[0]);
                    formData.append('attachmentId', @Model.Id);

                    $.ajax({
                        url: 'https://myserverhost-001-site1.itempurl.com/api/customers/AddedImage',
                        type: 'POST',
                        headers: {'attachmentId': attachmentId },
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            Swal.fire({
                                icon: 'success',
                                iconColor: '#3085d6',
                                title: 'تم اضافة الصورة بنجاح',
                                showConfirmButton: true,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'تم',
                            });
                            var li = document.createElement('li');

                            var divClose = document.createElement('div');
                            divClose.classList.add('btnclose');
                            divClose.setAttribute('data-id', data.id);
                            divClose.innerHTML = '<i class="ri-close-circle-line"></i>';
                            li.appendChild(divClose);

                            var anchorLink = document.createElement('a');
                            anchorLink.style.cursor = 'pointer';
                            anchorLink.classList.add('popup-link');
                            anchorLink.onclick = function () {
                                openFileUploader(data.id);
                            };

                            var imagePreview = document.createElement('img');
                            imagePreview.id = 'imagePreview_' + data.id;
                            imagePreview.src = e.target.result;
                            imagePreview.width = '140';
                            imagePreview.height = '140';
                            imagePreview.alt = 'image description';
                            anchorLink.appendChild(imagePreview);

                            li.appendChild(anchorLink);

                            var uploadInput = document.createElement('input');
                            uploadInput.type = 'file';
                            uploadInput.id = 'uploadImageInput_' + data.id;
                            uploadInput.style.display = 'none';
                            uploadInput.onchange = function () {
                                var newId = 'image_' + data.id;
                                uploadImage(this, data.id);
                            };
                            li.appendChild(uploadInput);

                            document.querySelector('.cocoe').appendChild(li);
                        },
                        error: function () {
                            alert("فشل في تحديث الصورة");
                        }
                    });
                } else {
                    document.getElementById('imagePreview_' + id).src = e.target.result;
                }
            };
            reader.readAsDataURL(input.files[0]);
        } else {
        }
    }



    function openFileUploader(id) {
        document.getElementById('uploadImageInput_' + id).click();
    }


    $(document).ready(function () {
        $(document).on('click', '.btnclose', function () {
            var id = $(this).data('id'); 
            var liToDelete = $(this).closest('li'); 
            var button = $(this); 
            Swal.fire({
                title: 'هل أنت متأكد؟',
                text: "لن تتمكن من التراجع عن هذا!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'نعم، احذفها!',
                cancelButtonText: 'تراجع',

            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: 'https://myserverhost-001-site1.itempurl.com/api/customers/DeleteImage',
                        type: 'GET',
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                liToDelete.remove();
                                button.hide();
                            } else {
                                Swal.fire(
                                    'خطأ!',
                                    'حدث خطأ أثناء الحذف.',
                                    'error'
                                );
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'خطأ!',
                                'حدث خطأ أثناء الاتصال بالخادم.',
                                'error'
                            );
                        }
                    });
                }
            });
        });

        $(document).on('click', '.btncloseViedio', function () {
            var id = $(this).data('id');
            var liToDelete = $(this).closest('li');
            var button = $(this);
            Swal.fire({
                title: 'هل أنت متأكد؟',
                text: "لن تتمكن من التراجع عن هذا!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'نعم، احذفه!',
                cancelButtonText: 'تراجع',

            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: 'https://myserverhost-001-site1.itempurl.com/api/customers/DeleteVideo',
                        type: 'GET',
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                $('#videoPlayer').css("display","none");
                                $('.coco').css("display", "flex");
                                $('.btncloseViedio').css("display", "none");
                                button.hide();
                            } else {
                                Swal.fire(
                                    'خطأ!',
                                    'حدث خطأ أثناء الحذف.',
                                    'error'
                                );
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'خطأ!',
                                'حدث خطأ أثناء الاتصال بالخادم.',
                                'error'
                            );
                        }
                    });
                }
            });
        });
    });


</script>
<script>

   function updateVideo(input) {
    if (input.files && input.files[0]) {
        var file = input.files[0];
        var videoPlayer = $('#videoPlayer');
        var videoSource = $('#videoSource');

        if (file.type.match('video.*')) {
            var formData = new FormData();
                var adId = @Model.Id;
            formData.append('file', file);
                formData.append('adId', @Model.Id);

            $.ajax({
                    url: 'https://myserverhost-001-site1.itempurl.com/api/customers/UploadVideo',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: async function (data) {
                    try {
                            var videoUrl = URL.createObjectURL(file);
                            videoSource.attr('src', videoUrl);
                            videoPlayer[0].load();
                            videoPlayer.css('display', 'block');
                            $('.coco').css('display', 'none');
                            $('.btncloseViedio').css('display', 'flex');
                        
                            await Swal.fire({
                            icon: 'success',
                            iconColor: '#3085d6',
                            title: 'تم تعديل الفيديو بنجاح',
                            showConfirmButton: true,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'تم',
                        });
                    } catch (error) {
                        console.error('حدث خطأ أثناء تحميل الفيديو:', error);
                        Swal.fire({
                            icon: 'error',
                            title: 'خطأ',
                            text: 'حدثت مشكلة أثناء تحديث الفيديو',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'تم',
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'خطأ',
                        text: 'حدثت مشكلة أثناء تحديث الفيديو',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'تم',
                    });
                }
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'خطأ',
                text: 'من فضلك اختر فيديو فقط',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'تم'
            });
        }
    }
}


</script>





