@using Microsoft.EntityFrameworkCore;
@model IEnumerable<AdminControl.Models.AdModel>
@inject BloggingContext context
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}
<style>
    table {
        text-align:center !important
    }
</style>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">اعلانات العميل</h5>
        @foreach (var item in Model)
        {
            count++;
        }
        
        @if (count==0)
        {
            <div style="text-align:center">
                <p style="font-size:20px;font-weight:bold">لايوجد اعلانات لهذا العميل</p>
            </div>
        }
        else{
        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><label for="cole">تحديد الكل</label><input id="cole" type="checkbox" /></th>
                    <th>الرقم التعريفي</th>
                    <th>العنوان</th>
                    <th>الفئة</th>
                    <th>نوع الإعلان</th>
                    <th>المنطقة</th>
                    <th>حالة لاعلان</th>
                    <th>العمليات</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th>
                            <input type="checkbox" data-id="@item.Id" class="selectedcheck">
                        </th>
                        <td>
                                @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Title)
                        </td>

                        <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.AdType.Name)
                        </td>
                        <td>
                                @item.Area.Name
                        </td>
                        <td>
                                @item.AdStatus.Status
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="AdModels" asp-route-id="@item.Id"><i class="bi bi-gear text-success"></i></a>
                            <a asp-action="Details" asp-controller="AdModels" asp-route-id="@item.Id"><i class="bi bi-file-text text-warning "></i></a>
                            <a asp-action="Delete" asp-controller="AdModels" asp-route-id="@item.Id"><i class="bi bi-x-octagon-fill text-danger"></i></a>
                        </td>
                    </tr>
                    }
                </tr>
            </tbody>
        </table>
        <div>
            <a class="btn btn-warning" id="confirm">الموافقة على الاعلان</a>
            <a class="btn btn-danger" id="reject">رفض الاعلان</a>
        </div>
        }
        <!-- End Table with stripped rows -->

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
     $(document).ready(function () {
        $('.selectall button.datatable-sorter').removeClass('datatable-sorter');

        $('#cole').on('change', function () {
            if ($(this).prop('checked')) {
                $('input[type="checkbox"]').prop('checked', true);
            } else {
                $('input[type="checkbox"]').prop('checked', false);
            }
        });

        // Ok adss
        $('#confirm').on('click', function () {
            var selectedIds = [];

            var count=0
            $('.selectedcheck:checked').each(function () {
                var id = $(this).data('id');
                selectedIds.push(id); 
                count++;
            });
            if(count==0){
                Swal.fire({
                    title: "لم يتم تحديد عنصر",
                    text: "حدد عنصر واحد على الاقل حتى يتم قبول الاعلان",
                    icon: "question",
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'تم',
                });
                return;
            }
            
            Swal.fire({
                title: 'هل أنت متأكد؟',
                text: "التأكد من قبول الاعلان بشكل رسمي",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'نعم، متأكد!',
                cancelButtonText: 'تراجع',

            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/AdModels/ApproveAds',
                        type: 'POST',
                        data: { ids: selectedIds },
                        traditional: true,
                        success: function (response) {
                            var clonedTrs = [];

                            $('.selectedcheck:checked').each(function () {
                                var tr = $(this).closest('tr');
                                var clonedTr = tr.clone();
                                clonedTr.find('td:first').remove();
                                clonedTrs.push(clonedTr);
                            });

                            $('.selectedcheck:checked').each(function () {
                                $(this).closest('tr').remove();
                            });

                            clonedTrs.forEach(function (clonedTr) {
                                clonedTr.appendTo('.coooel');
                            });
                        },
                        error: function () {
                        }
                    });
                }
            });


        });



        $('#reject').on('click', function () {
            var selectedIds = [];

            var count = 0
            $('.selectedcheck:checked').each(function () {
                var id = $(this).data('id');
                selectedIds.push(id);
                count++;
            });
            if (count == 0) {
                Swal.fire({
                    title: "لم يتم تحديد عنصر",
                    text: "حدد عنصر واحد على الاقل حتى يتم رفض الاعلان",
                    icon: "question",
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'تم',
                });
                return;
            }

            Swal.fire({
                title: 'هل أنت متأكد؟',
                text: "التأكد من الرفض بشكل رسمي",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'نعم، متأكد!',
                cancelButtonText: 'تراجع',

            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/AdModels/RejectAds',
                        type: 'POST',
                        data: { ids: selectedIds },
                        traditional: true,
                        success: function (response) {
                            var clonedTrs = [];

                            $('.selectedcheck:checked').each(function () {
                                var tr = $(this).closest('tr');
                                var clonedTr = tr.clone();
                                clonedTr.find('td:first').remove();
                                clonedTrs.push(clonedTr);
                            });

                            $('.selectedcheck:checked').each(function () {
                                $(this).closest('tr').remove();
                            });

                            clonedTrs.forEach(function (clonedTr) {
                                clonedTr.appendTo('.rejecttabel');
                            });
                        },
                        error: function () {
                        }
                    });
                }
            });


        });

    });
</script>