@model IEnumerable<AdminControl.Models.NotificationModel>
@inject BloggingContext context
@{
    ViewData["Title"] = "الاشعارات";
    Layout = "~/Views/Shared/_Layout.cshtml";



}
<style>
    #popup1 {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        width: 40%;
        margin: 0 auto;
        background: rgba(255,255,255,0.2);
        padding: 35px;
        border: 2px solid #fff;
        border-radius: 20px/50px;
        background-clip: padding-box;
        text-align: center;
    }

    .button {
        font-size: 1em;
        padding: 10px;
        color: #fff;
        border: 2px solid #4154f1;
        border-radius: 20px/50px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }

        .button:hover {
            background: #4154f1;
        }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 150ms;
        visibility: hidden;
        opacity: 0;
    }

        .overlay:target {
            visibility: visible;
            opacity: 1;
        }

    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
         
    }

        .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .popup .close {
            position: absolute;
            top: 20px;
            left: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

            .popup .close:hover {
                color: #4154f1;
            }

        .popup .content {
            max-height: 30%;
        }

    header, aside {
        z-index: 0 !important
    }

    @@media screen and (max-width: 700px) {
        .box {
            width: 70%;
        }

        .popup {
            width: 70%;
        }
    }
</style>
<div class="pagetitle">
    <h1>الاشعارات</h1>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ادارة بيانات الاشعارات</h5>
                    <div class="card-body">
                        <div class="tab-content pt-2" id="myTabjustifiedContent">
                            <div class="tab-pane fade show active" id="home-justified" role="tabpanel" aria-labelledby="home-tab">
                                <table class="table datatable">
                                    <thead>
                                        <tr>
                                            <th>
                                                الرقم التعريفي
                                            </th>
                                            <th>
                                                عنوان الاشعار
                                            </th>
                                            <th width="10%">
                                               نص الرسالة
                                            </th>

                                            <th>
                                               التاريخ
                                            </th>
                                            <th>العمليات</th>
                                            <th>حذف</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td>
                                                    <a data-id="@item.Id" style="cursor:pointer" class="Details"><i class="bi bi-file-text text-warning "></i></a>
                                                </td>
                                                <td>
                                                    @item.CreatedDate.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    <a asp-action="DetailsNotification" asp-route-id="@item.Id" class="btn btn-primary  btnRead">عرض الاشعار</a>
                                                </td>
                                                <td>
                                                    <a href="#" class="delete-btn" data-id="@item.Id"><i class="bi bi-x-octagon-fill text-danger"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>
</section>

<div id="popup1" class="overlay">
    <div class="popup">
        <h2>نص الاشعار</h2>
        <hr />
        <a class="close" href="#">&times;</a>
        <div class="content">
            <p id="cont"></p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('.Details').click(function (event) {

            var id = $(this).data('id');

            $.ajax({
                url: '/NotificationModel/GetDetailsMessage',
                type: 'GET',
                data: { id: id },
                success: function (response) {
                    $('#cont').html(response.data);
                    $('#popup1').css({
                        'opacity': '1',
                        'visibility': 'visible'
                    });
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'خطأ!',
                        text: 'حدث خطأ أثناء استرجاع التفاصيل'
                    });
                }
            });

        });
        $('.close').click(function (event) {
            $('#popup1').css({
                'opacity': '0',
                'visibility': 'hidden'
            });
        });

        $('.delete-btn').click(function (event) {
            event.preventDefault();
            var id = $(this).data('id');

            Swal.fire({
                title: 'هل أنت متأكد؟',
                text: "لن تتمكن من التراجع عن هذا!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'نعم، احذفها!',
                cancelButtonText: 'تراجع',

            }).then((result) => {
                if (result.isConfirmed) {
                    $('a[data-id="' + id + '"]').closest('tr').remove();
                    Swal.fire(
                        'تم الحذف!',
                        'تم حذف العنصر بنجاح.',
                        'success'
                    );
                    $.ajax({
                        url: '/NotificationModel/DeleteRowNotfication',
                        type: 'GET',
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {

                            } else {
                                Swal.fire(
                                    'خطأ!',
                                    'حدث خطأ أثناء الحذف.',
                                    'error'
                                );
                            }
                        }
                    });
                }
            });
        });

    });

   



   
</script>

